<app-layout-especies>
  <img src="./assets/graxaim.jpg" alt="Graxaim-do-campo" style="max-width: 300px; width: 100%; height: auto; display: block; margin: 1rem auto; border-radius: 1rem;" />
    <h1>Lycalopex gymnocercus</h1>
    <h2>Graxaim-do-campo</h2>
    <h3>Mamífero típico do Cone Sul</h3>
    <p>
      O graxaim-do-campo habita o Cone Sul da América do Sul e pode ser encontrado no norte e centro da Argentina, Uruguai, leste da Bolívia, Paraguai e sul do Brasil. Prefere habitats abertos de pampas, muitas vezes perto de terras agrícolas, mas também pode ser encontrado em florestas montanhosas ou chaco, cerrado seco e habitats de pântanos.
    </p>
</app-layout-especies>
  